html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

.container {
    text-align: center; 
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 10px 20px;
    }
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:focus {
    outline: none;
    border-color: #357edd;
    box-shadow: 0 0 5px rgba(53, 126, 221, 0.5);
}

button {
    width: 150px;
    background-color: #357edd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1f6fd2;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(53, 126, 221, 0.5);
}



.d-flex {
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}